.image-list {
  width: 95%;
  max-height: 100px;
  overflow-x : auto;
  margin: 20px 6%;
}
.image-list .image-display{
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  margin :0;
  display: block;
}
.image-list .image-display img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.image-list .image-display:hover > .overlay{
  background: rgba(0,0,0, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.image-list .image-display .overlay span{
  width: 20%;
  height: 20%;
  color : rgb(255, 255, 255);
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
.image-list .image-display .overlay span:hover{
  color: rgb(230, 221, 240);
}

.image-list .image-display .overlay span.fa-times{
  right: 0;
  top: 0;
}
.image-list .image-display .overlay span.fa-heading{
  bottom: 25%;
  left: 15%;
}
