.publish-container{
  width: 90%;
  background: rgb(253, 253, 248);
  color: rgb(27, 27, 36);
  min-height: 390px;
  position : relative;
  max-width: 640px;
  margin: 0 auto;
  top: 30px;
}
.publish-container .publish-header{
  width: 90%;
  max-height: 30px;
  padding: 10px 10px 0 0;
  margin: 10px 7%;
}
/*captcha*/
.publish-container .recaptcha{
  position: relative;
  bottom: 40px;
  left: 5%;
  max-width: 200px;
}

