.floating-menu--container{
  position : fixed;
  bottom: 70px;
  right: 50px;
  background: rgb(77, 75, 75);
  width: 80%;
  max-width: 200px;
  text-align: center;
  z-index: 4;
}

.floating-menu--container a{
  cursor: pointer;
  padding: 10px auto;
  width:100%;
  display: block;
  height: 40px;
  color: white;
}

.floating-menu--container a:hover{
  background: grey;
}
